.body-box {
  background-color: red;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 2rem 4rem;
  text-align: center;
  box-sizing: border-box;
}

.control-box {
  padding: 1rem 6rem 1rem 6rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 1rem;
}

.input-color {
  text-align: center;
  justify-content: center;
}

.css-button {
  border-radius: 8px;
  padding: 2rem 1.5rem;
  color: white;
  cursor: pointer;
  margin: 0 auto;
}

.control-box-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.css-button h1 {
  margin: 0;
}

/* color code buttons design */
.card {
  max-width: 23ch;
  text-align: center;
  padding: 1em 0.5rem;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1), transform 0.15s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  cursor: pointer;
  margin-top: 1rem;
}

.card h1 {
  margin: 0;
}

.card > :not(span) {
  transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.card span {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: bold;
  top: 100%;
  transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.card:hover span {
  top: 0;
  font-size: 1.8rem;
  background-color: white;
}

.card:hover > div,
.card:hover > h1 {
  opacity: 0;
}
/* color code buttons design end */

/* pallet buttons design */
.pallet-btns {
  height: 3rem;
  width: 3rem;
  border: none;
  border-radius: 10em;
  margin: 0.5rem 1rem;
}

.pallet-btns:hover {
  animation: shake3856 0.3s linear infinite both;
}

@keyframes shake3856 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.pallets-container {
  margin: auto auto;
}

/* pallet buttons design end*/

/* navbar buttons design */
.btn-nav {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2.5rem;
  display: inline-block;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: rgb(118, 118, 118);
  background-color: white;
  width: 10rem;
  margin: 0.5rem 1rem;
}

.btn-nav-on {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2.5rem;
  display: inline-block;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: #05ff00;
  background-color: white;
  width: 10rem;
  margin: 0.5rem 1rem;
}

.btn-nav:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-nav:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-nav::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-nav::after {
  background-color: #fff;
}

.btn-nav:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* navbar buttons design end*/

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0rem 4rem;
  text-align: center;
  box-sizing: border-box;
}

/* SKatch------------------------------------------------------ */

.control-section {
  justify-content: center;
  text-align: center;
}

.skatch-body {
  width: 80%;
  margin: auto auto;
  border-radius: 2rem;
}

.skatch-nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.skatch-nav-item-container {
  display: flex;
  width: 50%;
  height: 100%;
  padding: 0.5rem 2rem;
}

.skatch-nav-item {
  width: 10%;
  height: 1rem;
  margin: auto 1rem;
  border-radius: 1rem;
}

.skatch-nav-btn {
  width: 20%;
  height: 2rem;
  margin: auto 1rem;
  border-radius: 1rem;
}

.skatch-banner {
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  border-radius: 2rem;
}

.circle-one {
  width: 18rem;
  height: 18rem;
  border-radius: 100%;
  paddin: auto auto;
  position: relative;
}
.skatch-banner-title {
  height: 3rem;
  background-color: #05ff00;
  border-radius: 1rem;
  position: absolute;
  left: -20;
  margin-left: 10rem;
}

.skatch-banner-info {
  border-radius: 1.5rem;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-content: center;
  align-items: center;
  margin: 0rem 0;
}
.skatch-banner-text {
  width: 100%;
  height: 1rem;
  margin: 0.75rem 0;
  border-radius: 0.4rem;
}

.skatch-banner-button-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.skatch-banner-button {
  border-radius: 1rem;
  width: 20%;
  padding: 0.4rem 1rem;
  margin-top: 2rem;
}
