.body-box {
  background-color: red;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 2rem 4rem;
  text-align: center;
  box-sizing: border-box;
}

.control-box {
  padding: 4rem 6rem 1rem 6rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 1rem;
}

.input-color {
  text-align: center;
  justify-content: center;
}

.code-button {
  cursor: pointer;
  box-sizing: content-box;
}

.css-button {
  border-radius: 8px;
  padding: 2rem 1.5rem;
  color: white;
  cursor: pointer;
}

.control-box-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2rem;
}

.css-button h1 {
  margin: 0;
}
